openapi: 3.0.0
info:
  title: Scan Streaming API
  version: 0.0.1
servers:
  - url: https://scan.sv-1.global.canton.network.c7.digital/api/scan
    description: C7
  - url: https://scan.sv-1.global.canton.network.cumberland.io/api/scan
    description: Cumberland
  - url: https://scan.sv-1.global.canton.network.digitalasset.com/api/scan
    description: Digital Asset
  - url: https://scan.sv-1.global.canton.network.fivenorth.io/api/scan
    description: Five North
  - url: https://scan.sv-1.global.canton.network.sync.global/api/scan
    description: Sync Global
  - url: https://scan.sv-1.global.canton.network.lcv.mpch.io/api/scan
    description: LCV MPCH
  - url: https://scan.sv-1.global.canton.network.mpch.io/api/scan
    description: MPCH
  - url: https://scan.sv-1.global.canton.network.orb1lp.mpch.io/api/scan
    description: Orb1 LP MPCH
  - url: https://scan.sv-1.global.canton.network.proofgroup.xyz/api/scan
    description: Proof Group
  - url: https://scan.sv-1.global.canton.network.tradeweb.com/api/scan
    description: Tradeweb
tags:
  - name: external
    description: |
      These endpoints are intended for public usage and will remain backward-compatible.
  - name: internal
    description: |
      For internal usage only, not guaranteed to be stable or backward-compatible.
  - name: deprecated
    description: |
      These endpoints are deprecated and will be removed in a future release.
  - name: scan
    description: |
      The internal and external endpoints.
  - name: pre-alpha
    description: |
      Still under active development, highly unstable. Do not use in production.
paths:
  /v0/history/bulk/download/{object_key}:
    get:
      summary: "/v0/history/bulk/download/{object_key}"
      tags:
        - pre-alpha
        - scan
      x-jvm-package: scanStream
      operationId: bulkStorageDownload
      description: Download a bulk storage object
      parameters:
        - name: object_key
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ok
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-scala-type: org.apache.pekko.http.scaladsl.model.ResponseEntity
        '404':
          $ref: '#/components/responses/404'
components:
  schemas:
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
  responses:
    '404':
      description: not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
